<p>
    <small>Your password was changed.</small>
</p>
<h1>Welcome, Your password successfully reseted.</h1>
<p>
    Here is your new password for our myBooble.

    <%=newPwd%>

    Please login to our application.
</p>
<p>
    <em>
        The myBeeble Team.
    </em>
</p>
