block nav
    div
        a(href='/') Profile
        | &nbsp;&nbsp;&nbsp;
        a(href='/book') Books
        | &nbsp;&nbsp;&nbsp;
        a(href='/post') Posts
        | &nbsp;&nbsp;&nbsp;
        a(href='/bookmark') Bookmark
        | &nbsp;&nbsp;&nbsp;
        a(href='/wish') Wish
        | &nbsp;&nbsp;&nbsp;
        a(href='/message') Message
        | &nbsp;&nbsp;&nbsp;
        a(href='/notification') Notification
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/api/logout') Logout