extends layout

block content
    | you'v logged in
    hr
    = ' ' + JSON.stringify(user)
    hr
    form.search.form-horizontal(action="/api/books", method="get", role="form")
        h1 Search Your book
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#keyword( type="text", name="keyword", placeholder="title, isbn, author keyword")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#zip(name="zip", placeholder="Zip code", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#distance(name="distance", placeholder="Distance", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#price_min(name="price_min", placeholder="Price Min", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#price_max(name="price_max", placeholder="Price Max", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#cover(name="cover", placeholder="Cover", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="create_book_id") User ID
                .col-lg-10
                    input.form-control#category(name="category", placeholder="Category ID", type="text")

        button.btn.btn-primary(type="submit") Search
    hr
    form.get.form-horizontal(action="/api/books", method="get", role="form")
        h1 Search Your book
        input.form-control#book_id( type="text", name="book_id", placeholder="Book Id")

        button.btn.btn-primary(type="submit") Get
    form.create(action="/api/users/"+user.id+"/books",enctype="multipart/form-data", method="post", role="form")
        h1 Post New Book
        input.form-control#create_user_id(placeholder="User Id", type="text", value=user.id)
        br
        input#coverfile( type="file", name="coverfile")

        input.form-control#title(name="title", placeholder="title", type="text")
        input.form-control#author(name="author", placeholder="author", type="text")
        //input.form-control#category(name="category", placeholder="category", type="text")
        input.form-control#isbn(name="isbn", placeholder="isbn", type="text")
        input.form-control#publisher(name="publisher", placeholder="publisher", type="text")
        input.form-control#type(name="type", placeholder="type", type="text")
        //input.form-control#price(name="price", placeholder="price", type="text")
        //input.form-control#description(name="description", placeholder="description", type="text")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Regist a new textbook
    script.
        $("form.create").on("submit", function(){
            $(this).attr("action", "/api/books");
            return true;
        });
        $("form.search").on("submit", function(){
            var frm = {
                keyword: $("#keyword").val()
            };
            if( $("#zip").val() != "" ) { frm.zip = $("#zip").val(); }
            if( $("#distance").val() != "" ) { frm.distance = $("#distance").val(); }
            if( $("#price_min").val() != "" ) { frm.price_min = $("#price_min").val(); }
            if( $("#price_max").val() != "" ) { frm.price_max = $("#price_max").val(); }
            if( $("#cover").val() != "" ) { frm.cover = $("#cover").val(); }
            if( $("#category").val() != "" ) { frm.category = $("#category").val(); }
            $.ajax("/api/books",
                {dataType: 'json', data: frm, type : 'GET'}
            );
            return false;
        });
        $("form.get").on("submit", function(){
            $.ajax("/api/books/"+$("#book_id").val(),
                {dataType: 'json', data: {}, type : 'GET'}
            );
            return false;
        });